/* GLOBAL CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

root {
    display: block;
}

body {
    font-family: "Trebuchet MS", Arial, Helvetica, Jamrul, sans-serif;
    font-size: 13px;
    color: #FFF;

    height: 100%;

    background: #215454;
}

img {
    margin: 5px;
    border: 0;
}

.clear {
    clear: both;
}

.spacer {
    height: 10px;
}

/* LAYOUT CSS */
#container {
	width: 80%;

	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;

	padding: 5px;

   	border: 1px #FFF dashed;
}

#number {
	font-size: 20px;
	
	margin-bottom: 10px;
}

#results {
	width: 120%;

	font-weight: bold;
}

#binhexoct {
	width: 15%;

	float: left;
}

#methods {
	width: 67%;
}

#demo {
	margin-left: 5px;
}

#reset {
	margin-left: 5px;
}
